[-] -> Pending
[~] -> In Process
[*] -> Implemented

TODO:
Create Data Acquistion/Extraction pipeline: [~]
    - Create fetching data from NSE/BSE: [*]
    - Parsering XBRL to JSON: [*]
    - Using a pdf to JSON parser: [-]
    